[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "airnow"]
	path = airnow
	url = https://github.com/briandconnelly/airnow
[submodule "ami"]
	path = ami
	url = https://github.com/briandconnelly/ami
[submodule "envvar"]
	path = envvar
	url = https://github.com/briandconnelly/envvar
[submodule "pushoverr"]
	path = pushoverr
	url = https://github.com/briandconnelly/pushoverr
