[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "airnow"]
	path = airnow
	url = https://github.com/briandconnelly/airnow
	shallow = true
	registered = true
[submodule "ami"]
	path = ami
	url = https://github.com/briandconnelly/ami
	shallow = true
	registered = true
[submodule "pushoverr"]
	path = pushoverr
	url = https://github.com/briandconnelly/pushoverr
	shallow = true
	registered = true
